$primary-blue: #0c0e10;
$secondary-blue: #0565ff;
$red: rgb(44, 200, 220);
$white: #ffffff;
$black: #000000;
$primary-black: #0c0e10;
$secondary-black: #2e2e2e;
$zircon: #f8faff;
$grey: #707070;
$grey-light: #e0dfdf;
$grey-dark: #c2c0c0;
$purple: rgb(107, 113, 235);
$purple-hover: rgb(74, 184, 199);
$purple-light: #f2f5fe;
$purple-lighter: #f9faff;

$lato: "Lato", sans-serif;

$roboto: "Roboto Mono", monospace;

:root {
  --primary-blue: #161f31;
  --secondary-blue: #0565ff;
  --red: #dc382c;
  --white: #ffffff;
  --black: #000000;
  --primary-black: #0c0e10;
  --secondary-black: #2e2e2e;
  --zircon: #f8faff;
  --grey: #707070;
  --grey-light: #e0dfdf;
  --grey-dark: #c2c0c0;
  --purple: #5961ff;
  --purple-hover: #3f41a0;
  --purple-light: #f2f5fe;
  --purple-lighter: #f9faff;
}

/* dark mode */

@mixin dark {
  html[data-theme="dark"] & {
    @content;
  }
}

/* media queries */
@mixin desktop {
  @media only screen and (min-width: 997px) {
    @content;
  }
}

@mixin desktop-tablet {
  @media only screen and (min-width: 751px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 751px) and (max-width: 996px) {
    @content;
  }
}

@mixin tablet-mobile {
  @media only screen and (max-width: 996px) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: 750px) {
    @content;
  }
}
